@use './functions' as functions;

$grayscale-min: #1c1f22;
$grayscale-middle: #3f4d55;
$grayscale-max: #aebfcc;

$red: #ff6464;
// $blue: #587df3;
$blue-dark: #0058ff;
$blue: #00abff;
// $green: #8dcf60;
$green: #0dd173;
// $green: #28da84;
$yellow: #ffb71d;
$darkYellow: #ffb71d;
$orange: #ff701d;

$primary: $green;

$gray-palette: functions.colorPalette($grayscale-middle);
$red-palette: functions.colorPalette2($red);
$blue-palette: functions.colorPalette2($blue);
$green-palette: functions.colorPalette2($green);
$yellow-palette: functions.colorPalette2($yellow);

$text-primary: #b1c1ce;
$text-primary: #cedeeb;
$text-secondary: #657786;
$text-secondary: #657786;

$background: darken(#272c30, 5);
$background: #000;
$background: darken(#272c30, 7);

$background-lighter: #272c30;
$background-lighter: darken(#272c30, 5);
$background-lighter: darken(#272c30, 3);
$background-lighter: #272c30;

$product-color-others: $text-secondary;
$product-color-dairy: $yellow;
$product-color-vegetables: $orange;
$product-color-fruits: #6eda36;
$product-color-baking-and-grains: #c2a267;
$product-color-sweeteners: $darkYellow;
$product-color-spices: $green;
$product-color-meats: $red;
$product-color-fishes: $blue;
$product-color-seafoods: #ff8354;
$product-color-oils: #ffc356;
$product-color-sauces: #e64545;
$product-color-legumes: #c26269;
$product-color-alcohol: #ff4b4b;
$product-color-food-additives: #f7a01b;
$product-color-nuts: #7a6234;
$product-color-dairy-alternatives: #ea9d4d;
$product-color-desserts-and-snacks: #ad6eff;
$product-color-beverages: #58e2dc;

$color-theme: (
  'primary': functions.colorVariables($green),
  'accent': $blue,
  'background': $background,
  'background-flyout': $background-lighter,
  'background-flyout-rgb': functions.toRGB($background-lighter),
  'background-rgb': #{functions.toRGB($background)},
  'border': (
    'DEFAULT': #343d44,
    'hover': lighten(#343d44, 10%),
    'active': lighten(#343d44, 20%)
  ),
  'text-primary': $text-primary,
  'text-secondary': $text-secondary,
  'max-contrast': #fff,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'image-background': $background-lighter,
  'product-group-icon': (
    'others': $product-color-others,
    'dairy': $product-color-dairy,
    'vegetables': $product-color-vegetables,
    'fruits': $product-color-fruits,
    'baking-and-grains': $product-color-baking-and-grains,
    'sweeteners': $product-color-sweeteners,
    'spices': $product-color-spices,
    'meats': $product-color-meats,
    'fishes': $product-color-fishes,
    'seafoods': $product-color-seafoods,
    'oils': $product-color-oils,
    'sauces': $product-color-sauces,
    'legumes': $product-color-legumes,
    'alcohol': $product-color-alcohol,
    'food-additives': $product-color-food-additives,
    'nuts': $product-color-nuts,
    'dairy-alternatives': $product-color-dairy-alternatives,
    'desserts-and-snacks': $product-color-desserts-and-snacks,
    'beverages': $product-color-beverages
  ),
  'modal-backdrop': rgba(#000, 0.6),
  'toast': (
    'background': rgba($background-lighter, 0.95),
    'color': $text-primary,
    'icon': (
      'background': rgba($blue, 0.1),
      'color': $blue,
      'success': (
        'background': rgba($green, 0.1),
        'color': $green
      ),
      'warning': (
        'background': rgba($yellow, 0.1),
        'color': $yellow
      ),
      'error': (
        'background': rgba($red, 0.1),
        'color': $red
      )
    )
  ),
  'link': (
    'DEFAULT': (
      'color': $text-primary,
      'color-hover': $green,
      'color-active': lighten($green, 10)
    ),
    'text-primary': functions.linkVariables($text-primary),
    'text-secondary': functions.linkVariables($text-secondary),
    'primary': functions.linkVariables($green),
    'accent': functions.linkVariables($blue),
    'warning': functions.linkVariables($yellow),
    'danger': functions.linkVariables($red)
  ),
  'button': (
    'raised': (
      'primary': functions.buttonRaisedVariablesDark($green, $background),
      'accent': functions.buttonRaisedVariablesDark($blue, $background),
      'warning': functions.buttonRaisedVariablesDark($yellow, $background),
      'danger': functions.buttonRaisedVariablesDark($red, $background),
      'contrast': functions.buttonRaisedVariablesDark($text-primary, $background)
    ),
    'subtle': (
      'primary': functions.buttonSubtleVariables($green),
      'accent': functions.buttonSubtleVariables($blue-dark, $blue),
      'warning': functions.buttonSubtleVariables($yellow),
      'danger': functions.buttonSubtleVariables($red),
      'contrast': functions.buttonSubtleVariables(lighten($text-secondary, 15), $text-primary),
      'disabled': functions.buttonSubtleVariables($text-primary)
    ),
    'stroked': (
      'primary': functions.buttonStrokedVariables($green),
      'accent': functions.buttonStrokedVariables($blue),
      'warning': functions.buttonStrokedVariables($yellow),
      'danger': functions.buttonStrokedVariables($red),
      'contrast': functions.buttonStrokedVariables($text-primary)
    )
  ),
  'scrollbar-background': $background-lighter,
  'scrollbar-thumb': #343d44,
  'scrollbar-thumb-hover': lighten(#343d44, 10)
);
