@use './functions' as functions;

$black: #000;
$gray: #90abb9;
$gray-dark: darken($gray, 30);
$gray-light: #e2e9ed;
$white: #fff;

$grayscale-min: #000;
$grayscale-middle: #90abb9;
$grayscale-max: #fff;

$red: #ff4b4b;
$blue: #3b65f0;
$green: #54ad19;
$green: #0dd173;
$green: #0bb161;
$yellow: #ffb71d;
$darkYellow: #ff961d;
$orange: #ff701d;
$gray-500: #6c8693;

$gray-palette: functions.colorPalette($gray-500);
$red-palette: functions.colorPalette2($red);
$blue-palette: functions.colorPalette2($blue);
$green-palette: functions.colorPalette2($green);
$yellow-palette: functions.colorPalette2($yellow);

$product-color-others: $gray;
$product-color-dairy: $yellow;
$product-color-vegetables: $orange;
$product-color-fruits: $green;
$product-color-baking-and-grains: #c2a267;
$product-color-sweeteners: $darkYellow;
$product-color-spices: $green;
$product-color-meats: $red;
$product-color-fishes: $blue;
$product-color-seafoods: #ff8354;
$product-color-oils: #e4ae4c;
$product-color-sauces: #e64545;
$product-color-legumes: #b95f66;
$product-color-alcohol: #bd3636;
$product-color-soup: #f7a01b;
$product-color-nuts: #6b5a3a;
$product-color-dairy-alternatives: #ea9d4d;
$product-color-desserts-and-snacks: #7446b1;
$product-color-beverages: #36ccc5;

$color-theme: (
  'primary': functions.colorVariables($green),
  'accent': $blue,
  'background': $white,
  'background-flyout': $white,
  'background-rgb': functions.toRGB($white),
  'border': (
    'DEFAULT': $gray-light,
    'hover': darken($gray-light, 15%),
    'active': darken($gray-light, 30%)
  ),
  'text-primary': $black,
  'text-secondary': $gray,
  'max-contrast': #000,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'product-group-icon': (
    'others': $product-color-others,
    'dairy': $product-color-dairy,
    'vegetables': $product-color-vegetables,
    'fruits': $product-color-fruits,
    'baking-and-grains': $product-color-baking-and-grains,
    'sweeteners': $product-color-sweeteners,
    'spices': $product-color-spices,
    'meats': $product-color-meats,
    'fishes': $product-color-fishes,
    'seafoods': $product-color-seafoods,
    'oils': $product-color-oils,
    'sauces': $product-color-sauces,
    'legumes': $product-color-legumes,
    'alcohol': $product-color-alcohol,
    'soup': $product-color-soup,
    'nuts': $product-color-nuts,
    'dairy-alternatives': $product-color-dairy-alternatives,
    'desserts-and-snacks': $product-color-desserts-and-snacks,
    'beverages': $product-color-beverages
  ),
  'toast': (
    'background': rgba($gray-light, 0.95),
    'color': $black,
    'icon': (
      'background': $blue,
      'color': $white,
      'success': (
        'background': $green,
        'color': $white
      ),
      'warning': (
        'background': $yellow,
        'color': $white
      ),
      'error': (
        'background': $red,
        'color': $white
      )
    )
  ),
  'link': (
    'DEFAULT': (
      'color': $black,
      'color-hover': $green,
      'color-active': lighten($green, 10)
    ),
    'text-primary': functions.linkVariables($black),
    'text-secondary': functions.linkVariables($gray),
    'primary': functions.linkVariables($green),
    'accent': functions.linkVariables($blue),
    'warning': functions.linkVariables($yellow),
    'danger': functions.linkVariables($red)
  ),
  'button': (
    'raised': (
      'primary': functions.buttonRaisedVariablesLight($green, $white),
      'accent': functions.buttonRaisedVariablesLight($blue, $white),
      'warning': functions.buttonRaisedVariablesLight($yellow, $white),
      'danger': functions.buttonRaisedVariablesLight($red, $white),
      'contrast': functions.buttonRaisedVariablesLight($black, $white)
    ),
    'subtle': (
      'primary': functions.buttonSubtleVariables($green),
      'accent': functions.buttonSubtleVariables($blue),
      'warning': functions.buttonSubtleVariables($yellow),
      'danger': functions.buttonSubtleVariables($red),
      'contrast': functions.buttonSubtleVariables($gray-dark, $black),
      'disabled': functions.buttonSubtleVariables($gray)
    ),
    'stroked': (
      'primary': functions.buttonStrokedVariables($green),
      'accent': functions.buttonStrokedVariables($blue),
      'warning': functions.buttonStrokedVariables($yellow),
      'danger': functions.buttonStrokedVariables($red),
      'contrast': functions.buttonStrokedVariables($black)
    )
  ),
  'scrollbar-thumb': rgba($black, 0.1),
  'scrollbar-thumb-hover': rgba($black, 0.2)
);
