@use './functions' as functions;

$grayscale-min: #1c1f22;
$grayscale-middle: #3f4d55;
$grayscale-max: #aebfcc;

$red: #ff6464;
// $blue: #587df3;
$blue-dark: #0058ff;
$blue: #00abff;
// $green: #8dcf60;
$green: #0dd173;
// $green: #28da84;
$yellow: #ffb71d;

$gray-palette: functions.colorPalette($grayscale-middle);
$red-palette: functions.colorPalette2($red);
$blue-palette: functions.colorPalette2($blue);
$green-palette: functions.colorPalette2($green);
$yellow-palette: functions.colorPalette2($yellow);

$text-primary: #b1c1ce;
$text-primary: #cedeeb;
$text-secondary: #657786;
$text-secondary: #657786;

$color-theme: (
  'primary': functions.colorVariables($green),
  'accent': $blue,
  'background': darken(#272c30, 5),
  'background-flyout': #272c30,
  'background-rgb': #{functions.toRGB(darken(#272c30, 5))},
  'border': (
    'DEFAULT': #343d44,
    'hover': lighten(#343d44, 10%),
    'active': lighten(#343d44, 20%)
  ),
  'text-primary': $text-primary,
  'text-secondary': $text-secondary,
  'max-contrast': #fff,
  'green': $green,
  'blue': $blue,
  'yellow': $yellow,
  'red': $red,
  'toast': (
    'background': rgba(#272c30, 0.95),
    'color': $text-primary,
    'icon': (
      'background': rgba($blue, 0.1),
      'color': $blue,
      'success': (
        'background': rgba($green, 0.1),
        'color': $green
      ),
      'warning': (
        'background': rgba($yellow, 0.1),
        'color': $yellow
      ),
      'error': (
        'background': rgba($red, 0.1),
        'color': $red
      )
    )
  ),
  'link': (
    'DEFAULT': (
      'color': $text-primary,
      'color-hover': $green,
      'color-active': lighten($green, 10)
    ),
    'text-primary': functions.linkVariables($text-primary),
    'text-secondary': functions.linkVariables($text-secondary),
    'primary': functions.linkVariables($green),
    'accent': functions.linkVariables($blue),
    'warning': functions.linkVariables($yellow),
    'danger': functions.linkVariables($red)
  ),
  'button': (
    'raised': (
      'primary': functions.buttonRaisedVariablesDark($green, darken(#272c30, 5)),
      'accent': functions.buttonRaisedVariablesDark($blue, darken(#272c30, 5)),
      'warning': functions.buttonRaisedVariablesDark($yellow, darken(#272c30, 5)),
      'danger': functions.buttonRaisedVariablesDark($red, darken(#272c30, 5)),
      'contrast': functions.buttonRaisedVariablesDark($text-primary, darken(#272c30, 5))
    ),
    'subtle': (
      'primary': functions.buttonSubtleVariables($green),
      'accent': functions.buttonSubtleVariables($blue-dark, $blue),
      'warning': functions.buttonSubtleVariables($yellow),
      'danger': functions.buttonSubtleVariables($red),
      'contrast': functions.buttonSubtleVariables(lighten($text-secondary, 15), $text-primary),
      'disabled': functions.buttonSubtleVariables($text-primary)
    ),
    'stroked': (
      'primary': functions.buttonStrokedVariables($green),
      'accent': functions.buttonStrokedVariables($blue),
      'warning': functions.buttonStrokedVariables($yellow),
      'danger': functions.buttonStrokedVariables($red),
      'contrast': functions.buttonStrokedVariables($text-primary)
    )
  ),
  'scrollbar-thumb': rgba($text-primary, 0.1),
  'scrollbar-thumb-hover': rgba($text-primary, 0.2)
);
