@use './theme-light-variables' as lightVariables;
@use './theme-dark-variables' as darkVariables;

$light-theme-primary: lightVariables.$green;

// $black: #000;
// $gray: #90abb9;
// $gray-light: #e2e9ed;
// $white: #fff;

// $red: #ff4b4b;
// $blue: #2c5dff;
// $green: #51d61a;
// $yellow: #ffcc00;

// $green: #8cca20;
// $green: #b1dd65;
// $green: #85c515;
// $green: #84e200;
// $green: #71cf32;
// $green: #48b300;
// $green: #54ad19;
// $blue: #3b65f0;
// $yellow: #fdad00;
// $yellow: #ffb71d;

// $primary: $green;
// $accent: $blue;

// $border: $gray-light;
// $background: $white;
// $text-primary: $black;
// $text-secondary: $gray;

// $button-colors: (
//   'primary': $primary,
//   'accent': $accent,
//   'warn': $red,
//   'red': $red,
//   'blue': $blue,
//   'green': $green,
//   'yellow': $yellow,
//   'contrast': $black
// );

@function linkColorMap($color) {
  $map: (
    'color': var(--color-link-#{$color}-color),
    'color-hover': var(--color-link-#{$color}-color-hover),
    'color-active': var(--color-link-#{$color}-color-active)
  );
  @return $map;
}

$link-variables: (
  'text-primary': buttonSubtleColorMap('text-primary'),
  'text-secondary': buttonSubtleColorMap('text-secondary'),
  'primary': buttonSubtleColorMap('primary'),
  'accent': buttonSubtleColorMap('accent'),
  'warning': buttonSubtleColorMap('warning'),
  'danger': buttonSubtleColorMap('danger')
);

@function buttonStrokedColorMap($color) {
  $map: (
    'color': var(--color-button-subtle-#{$color}-color),
    //'color-hover': var(--color-button-subtle-#{$color}-color-hover),
    //'color-active': var(--color-button-subtle-#{$color}-color-active)
  );
  @return $map;
}

$button-stroked-variables: (
  'primary': buttonSubtleColorMap('primary'),
  'accent': buttonSubtleColorMap('accent'),
  'warning': buttonSubtleColorMap('warning'),
  'danger': buttonSubtleColorMap('danger'),
  'contrast': buttonSubtleColorMap('contrast')
);

@function buttonSubtleColorMap($color) {
  $map: (
    'background': var(--color-button-subtle-#{$color}-background),
    'background-hover': var(--color-button-subtle-#{$color}-background-hover),
    'background-active': var(--color-button-subtle-#{$color}-background-active),
    'color': var(--color-button-subtle-#{$color}-color)
  );
  @return $map;
}

$button-subtle-variables: (
  'primary': buttonSubtleColorMap('primary'),
  'accent': buttonSubtleColorMap('accent'),
  'warning': buttonSubtleColorMap('warning'),
  'danger': buttonSubtleColorMap('danger'),
  'contrast': buttonSubtleColorMap('contrast'),
  'disabled': buttonSubtleColorMap('disabled')
);

@function buttonRaisedColorMap($color) {
  $map: (
    'background': var(--color-button-raised-#{$color}-background),
    'background-hover': var(--color-button-raised-#{$color}-background-hover),
    'background-active': var(--color-button-raised-#{$color}-background-active),
    'color': var(--color-button-raised-#{$color}-color)
  );
  @return $map;
}

$button-raised-variables: (
  'primary': buttonRaisedColorMap('primary'),
  'accent': buttonRaisedColorMap('accent'),
  'warning': buttonRaisedColorMap('warning'),
  'danger': buttonRaisedColorMap('danger'),
  'contrast': buttonRaisedColorMap('contrast')
);

$color-themes: (
  light: lightVariables.$color-theme,
  dark: darkVariables.$color-theme
);

$transition-base-duration: 0.3s;
$transition-base-timing-function: ease;

$header-height: 2.5rem;
$header-search-height: 3rem;

@function productGroupIconColorVariable($group) {
  @return var(--color-product-group-icon-#{$group});
}

$product-group-icon-color-variables: (
  'others': productGroupIconColorVariable('others'),
  'dairy': productGroupIconColorVariable('dairy'),
  'vegetables': productGroupIconColorVariable('vegetables'),
  'fruits': productGroupIconColorVariable('fruits'),
  'baking-and-grains': productGroupIconColorVariable('baking-and-grains'),
  'sweeteners': productGroupIconColorVariable('sweeteners'),
  'spices': productGroupIconColorVariable('spices'),
  'meats': productGroupIconColorVariable('meats'),
  'fishes': productGroupIconColorVariable('fishes'),
  'seafoods': productGroupIconColorVariable('seafoods'),
  'oils': productGroupIconColorVariable('oils'),
  'sauces': productGroupIconColorVariable('sauces'),
  'legumes': productGroupIconColorVariable('legumes'),
  'alcohol': productGroupIconColorVariable('alcohol'),
  'food-additives': productGroupIconColorVariable('food-additives'),
  'nuts': productGroupIconColorVariable('nuts'),
  'dairy-alternatives': productGroupIconColorVariable('dairy-alternatives'),
  'desserts-and-snacks': productGroupIconColorVariable('desserts-and-snacks'),
  'beverages': productGroupIconColorVariable('beverages')
);
