body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: #fff;
}

body {
  overflow-y: auto;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-tap-highlight-color: rgba(#fff, 0.2);
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.filters-button-count-fade-enter-active,
.filters-button-count-fade-leave-active {
  transition: opacity 0.3s ease, margin-right 0.3s ease;
}

.filters-button-count-fade-enter-from,
.filters-button-count-fade-leave-to {
  margin-right: -1.6rem;
  opacity: 0;
}
