$black: #000;
$gray: #90abb9;
$gray-light: #e2e9ed;
$white: #fff;

$red: #e13939;
$blue: #2c5dff;
$green: #51d61a;
$yellow: #ffcc00;

$primary: $yellow;
$accent: $blue;

$border: $gray-light;
$background: $white;
$text-primary: $black;
$text-secondary: $gray;

$button-colors: (
  primary: $primary,
  accent: $accent,
  warn: $red,
  red: $red,
  blue: $blue,
  green: $green,
  yellow: $yellow
);
