$black: #000;
$gray: #90abb9;
$gray-light: #e2e9ed;
$white: #fff;

$red: #ff4b4b;
$blue: #2c5dff;
$green: #51d61a;
$yellow: #ffcc00;

$green: #8cca20;
$green: #b1dd65;
$green: #85c515;
$green: #84e200;
$green: #71cf32;
$green: #48b300;
$green: #54ad19;
$blue: #3b65f0;
$yellow: #fdad00;
$yellow: #ffb71d;

$primary: $green;
$accent: $blue;

$border: $gray-light;
$background: $white;
$text-primary: $black;
$text-secondary: $gray;

$button-colors: (
  primary: $primary,
  accent: $accent,
  warn: $red,
  red: $red,
  blue: $blue,
  green: $green,
  yellow: $yellow,
  black: $black
);

:root {
  --color-red: #{ $red };
  --color-blue: #{ $blue };
  --color-green: #{ $green };
  --color-yellow: #{ $yellow };

  --color-border: #{$gray-light};
  --color-background: #{$white};
  --color-background-rgb: #{toRGB($white)};
  --color-text-primary: #{$black};
  --color-text-secondary: #{$gray};
}

[theme=dark] {
  $border: #3c4b57;
  $background: #272c30;
  $text-primary: #6b8397;
  $text-secondary: #4c5a66;

  --color-border: #{ $border };
  --color-background: #{ $background };
  --color-background-rgb: #{ toRGB( $background ) };
  --color-text-primary: #{ $text-primary };
  --color-text-secondary: #{ $text-secondary };
}

$transition-base-duration: 0.3s;
$transition-base-timing-function: ease;
