$black: #000;
$gray: #90abb9;
$gray-light: #e2e9ed;
$white: #fff;

$red: #ff4b4b;
$blue: #2c5dff;
$green: #51d61a;
$yellow: #ffcc00;

$green: #8cca20;
$green: #b1dd65;
$green: #85c515;
$blue: #3b65f0;
$yellow: #fdad00;
$yellow: #ffb71d;

$primary: $green;
$accent: $blue;

$border: $gray-light;
$background: $white;
$text-primary: $black;
$text-secondary: $gray;

$button-colors: (
  primary: $primary,
  accent: $accent,
  warn: $red,
  red: $red,
  blue: $blue,
  green: $green,
  yellow: $yellow,
  black: $black
);
