// :root {
//   color-scheme: light dark;
// }

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--color-background);
  color: var(--color-text-primary);

  // @include cursor-only {
  //   scrollbar-width: thin;
  //   scrollbar-color: var(--color-border) transparent;
  // }
  // overflow-y: scroll;
}

body {
  overflow-y: scroll;

  // @include cursor-only {
  //   /* width */
  //   &::-webkit-scrollbar {
  //     width: 8px;
  //   }

  //   /* Track */
  //   &::-webkit-scrollbar-track {
  //     background-color: transparent;
  //   }

  //   /* Handle */
  //   &::-webkit-scrollbar-thumb {
  //     background-color: var(--color-scrollbar-thumb);
  //     border-radius: 8px;
  //   }

  //   /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover {
  //     background-color: var(--color-scrollbar-thumb-hover);
  //   }
  // }
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  font-size: 26px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  outline: none;
  box-sizing: border-box;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button:focus {
  outline: 0;
}

.slide-in {
  &-enter-active,
  &-leave-active {
    @include transition((opacity, transform));
  }

  &-enter-from,
  &-leave-to {
    transform: translateY(-8px);
    opacity: 0;
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    @include transition(opacity);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

// .filters-button-count-fade {
//   &-enter-active,
//   &-leave-active {
//     @include transition((opacity, margin-right));
//   }

//   &-enter-from,
//   &-leave-to {
//     margin-right: -1.6rem;
//     opacity: 0;
//   }
// }
