.modal-header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:not(:last-child) {
    padding-bottom: 24px;
  }

  &__close-container {
    height: 28px;
    width: 28px;
    font-size: 24px;
    margin-left: 24px;
    align-items: center;
    justify-content: center;
    display: none;
    line-height: 0;

    @include cursor-only {
      display: flex;
    }
  }
}

.modal-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.modal-body {
  padding: 32px;
  position: relative;
  z-index: 1;

  &:not(:first-child) {
    padding-top: 0;
  }

  &:not(:last-child) {
    padding-bottom: 0;
  }
}

.modal-footer {
  padding: 32px;
  display: flex;
  gap: 16px;

  &:not(:first-child) {
    padding-top: 24px;
  }

  .modal-header + & {
    padding-top: 0;
  }

  &--sticky {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgba(var(--color-background-rgb), 0.95);

    @supports (backdrop-filter: blur(8px)) {
      background-color: rgba(var(--color-background-rgb), 0.75);
      backdrop-filter: saturate(180%) blur(8px);
    }
  }
}
